body {
    display: 90%;
    background-color: lightblue;
    margin-left: 10px;
}

#title {
    font-size: 3em;
    font-family: Arial, Arial Black, Verdana;
    font-weight: bold;
    color: rgb(182, 161, 161);
}
h1>li #neighbor {
    color: red;
}
#neighbor {
    color: red;
}


a:link {
    text-decoration: none;
    color: darkblue;
  }
  
  a:visited {
    text-decoration: none;
    color: blue;
  }
  
  a:hover {
    color: hotpink;
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }
  p::first-letter {
    font-size: 150%;
  }
  ol li span {
      color: darkgoldenrod;
  }
  #validationLink {

    margin-bottom: 20px;
  }